# Tag 1. Kapitel 3. Data Frame

## Lab3. R Data Frames Übung - Lösung

In dieser Übnung überprüfen wir dein Wissen zu den Data Frames! Folge den Anweisungen und löse die Aufgaben.

**Erstelle den folgenden Data Frame durch die Nutzung von Vektoren und der data.frame Funktion:**

In [2]:
Name <- c("Sam","Frank","Anne")
Alter <- c(25,22,26)
Gewicht <- c(85,76,62)
Geschlecht <- c("M", "M", "F")
df <- data.frame (row.names = Name, Alter, Gewicht, Geschlecht)
df

      Alter Gewicht Geschlecht
Sam   25    85      M
Frank 22    76      M
Anne  26    62      F

**Überprüfe ob mtcars ein Data Frame ist, indem du is.data.frame() nutzt**

In [3]:
is.data.frame(mtcars)

[1] TRUE

**Verwende as.data.frame(), um eine Matrix in einen Data Frame umzuwandeln: **

In [4]:
mat <- matrix(1:25,nrow = 5)
as.data.frame(mat)

  V1 V2 V3 V4 V5
1 1   6 11 16 21
2 2   7 12 17 22
3 3   8 13 18 23
4 4   9 14 19 24
5 5  10 15 20 25

** Setze eine Variable df gleich dem eingebauten Data Frame mtcars. Für den Rest der Übung werden wir diese Variable verwenden.**

In [5]:
df <- mtcars

**Zeige die ersten 6 Zeilen von df an**

In [6]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

**Was ist der durchschnittliche mpg Wert (Verbrauch) aller Autos?**

In [7]:
mean(mtcars$mpg)

[1] 20.09062

**Wähle die Zeilen, in denen die Autos 6 Zylinder (Spalte: cyl) haben**

In [8]:
df[df$cyl==6,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

**Wähle die Spalten am, gear, und carb**

In [9]:
df[,c('am','gear','carb')]

                    am gear carb
Mazda RX4           1  4    4
Mazda RX4 Wag       1  4    4
Datsun 710          1  4    1
Hornet 4 Drive      0  3    1
Hornet Sportabout   0  3    2
Valiant             0  3    1
Duster 360          0  3    4
Merc 240D           0  4    2
Merc 230            0  4    2
Merc 280            0  4    4
Merc 280C           0  4    4
Merc 450SE          0  3    3
Merc 450SL          0  3    3
Merc 450SLC         0  3    3
Cadillac Fleetwood  0  3    4
Lincoln Continental 0  3    4
Chrysler Imperial   0  3    4
Fiat 128            1  4    1
Honda Civic         1  4    2
Toyota Corolla      1  4    1
Toyota Corona       0  3    1
Dodge Challenger    0  3    2
AMC Javelin         0  3    2
Camaro Z28          0  3    4
Pontiac Firebird    0  3    2
Fiat X1-9           1  4    1
Porsche 914-2       1  5    2
Lotus Europa        1  5    2
Ford Pantera L      1  5    4
Ferrari Dino        1  5    6
Maserati Bora       1  5    8
Volvo 142E          1  4    2

**Erstelle eine neue Spalte "performance", die durch hp/wt berechnet wird**

In [10]:
df$performance <- df$hp/df$wt

In [11]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performance
Mazda RX4         41.98473
Mazda RX4 Wag     38.26087
Datsun 710        40.08621
Hornet 4 Drive    34.21462
Hornet Sportabout 50.87209
Valiant           30.34682

**Die neue Performance Spalte wird Werte mit mehreren Dezimalstellen beinhalten. Finde heraus, wie du diese mit `round()` auf 2 Nachkommastellen reduzieren kannst**

In [12]:
df$performance <- round(df$performance,2)

In [13]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performance
Mazda RX4         41.98
Mazda RX4 Wag     38.26
Datsun 710        40.09
Hornet 4 Drive    34.21
Hornet Sportabout 50.87
Valiant           30.35

** Was ist der durchschnittliche mpg Wert für Autos mit mehr als 100 PS (en. hp) und einem wt-Wert über 2.5?**

In [14]:
mean(subset(df,hp>100 & wt > 2.5)$mpg)

[1] 16.86364

In [15]:
# Es gibt viele Wege zum Ziel
mean(df[df$hp>100 & df$wt > 2.5,]$mpg)

[1] 16.86364

**Wie ist der mpg (Verbrauch) des Hornet Sportabout? **

In [16]:
df['Hornet Sportabout',]$mpg

[1] 18.7

### In/aus Zwischenablage (Clipboard) schreiben/lesen

TODO-Liste:

* Gebe den aktuellen df Data Frame aus
* Speichere df Data Frame in der Zwischenablage (Clipboard) ab
* In einer leeren Excel-Arbeitsmappe (Sheet) die Daten aus der Zwischenablage holen (Ctrl+V)
* Passe einige Werte an und/oder füge neue Datensätze in Excel hinzu 
* Wähle neuen Datensatz in Excel aus und speichere es in der Zwischenablage (Ctrl+C)
* Lese angepasste Daten aus der Zwischenablage in einen neuen Data Frame aus
* Gebe neu geladene angepasste Daten aus

*Tipp: du kannst Lektion 1.3.20.2 als Referenz benutzen*

**Fazit: mit schreiben/lesen in/aus Zwischenablage lässt sich Excel als bequemer Tool mit R-Umgebung kombinieren**

In [54]:
# aktueller df Data Frame
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performance
Mazda RX4         41.98
Mazda RX4 Wag     38.26
Datsun 710        40.09
Hornet 4 Drive    34.21
Hornet Sportabout 50.87
Valiant           30.35

In [52]:
# df Data Frame in der Zwischenablage (Clipboard) ab
write.table(x=mtcars,file = "clipboard",sep = "\t", row.names = FALSE)

In [55]:
# Daten aus der Zwischenablage (Clipboard) lesen
df2 <- read.table(file="clipboard",sep="\t", header=TRUE) # Tabulator (\t) als Trenner nutzen
# geladen Daten ausgeben
head(df2)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 42.0 12  160  490 3.90 2.620 16.46 0  1  4    4
2 21.0  6  160  110 3.90 2.620 16.46 0  1  4    4
3 21.0  6  160  110 3.90 2.875 17.02 0  1  4    4
4 22.8  4  108   93 3.85 2.320 18.61 1  1  4    1
5 21.4  6  258  110 3.08 3.215 19.44 1  0  3    1
6 18.7  8  360  175 3.15 3.440 17.02 0  0  3    2

## In/aus CSV-Datei schreiben/lesen

TODO-Liste:

* Speichere df Data Frame in einer CSV-Datei ab
* Lese gespeicherte CSV-Datei in einen neuen Data Frame zurück und gebe die erste geladene Datensätze aus

In [56]:
# Ausgabe zu CSV-Datei
write.csv(df, file='demo.csv', row.names = TRUE)

In [57]:
# Aus "frischgechriebener" CSV-Datei lesen und Daten anzeigen
rd <- read.csv('demo.csv')
head(rd)

  X                 mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
  performance
1 41.98
2 38.26
3 40.09
4 34.21
5 50.87
6 30.35

## In/aus Excel-Datei schreiben/lesen

TODO-Liste:

* Lade ggf. Excel-Paket und Bibliothek (library) 
* Speichere df Data Frame in einer Excel-Datei ab
* Lese gespeicherte Excel-Datei in einen neuen Data Frame zurück und gebe die erste geladene Datensätze aus

In [63]:
# Ggf. Excel Schreiben-Pakete laden (wenn nichts bereits passiert)
install.packages("xlsx")
library(xlsx)

In [60]:
write.xlsx(df, 'demo_lab.xlsx', sheetName = 'data', col.names = TRUE, row.names = FALSE, append = FALSE)

In [64]:
# Ggf. Excel Lese-Pakete laden (wenn nichts bereits passiert)
install.packages("readxl")
library(readxl)

In [62]:
# Aus "frischgechriebener" Excel-Datei lesen und Daten anzeigen
d <- read_excel('demo_lab.xlsx', 'data')
head(d)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb performance
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    41.98
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    38.26
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    40.09
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    34.21
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    50.87
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    30.35

Herzlichen Glückwunsch! Sie sind mit Lab 3. fertig.