# Tag 1. Kapitel 3. Data Frames

## Lektion 18. Data Frame Grundlagen

Wir haben bereits Vektoren und deren zweidimensionales Gegenstück, die Matrizen, kennengelernt. Bevor wir uns abschließend mit Listen befassen schauen wir uns jetzt *Data Frames* an. Diese bilden das Hauptwerkzeug zur Datenanalyse in R! Matrizen sind dazu etwas zu beschränkt, da alle Elemente in ihnen nur einen Datentyp haben dürfen. Durch Data Frames können wir jetzt verschiedene Daten Typen zusammen speichern und bearbeiten.

R bietet seinerseits einige vorinstallierte Data Frames, die gut sind, um die Funktionalität kennenzulernen und etwas herumzuspielen. Es folgen einige Beispiele:

In [1]:
# Data Frame der US Staaten
state.x77

               Population Income Illiteracy Life Exp Murder HS Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Alaska           365      6315   1.5        69.31    11.3   66.7    152
Arizona         2212      4530   1.8        70.55     7.8   58.1     15
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
California     21198      5114   1.1        71.71    10.3   62.6     20
Colorado        2541      4884   0.7        72.06     6.8   63.9    166
Connecticut     3100      5348   1.1        72.48     3.1   56.0    139
Delaware         579      4809   0.9        70.06     6.2   54.6    103
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Hawaii           868      4963   1.9        73.60     6.2   61.9      0
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Iowa            2861      4628   0.5        72.56     2.3   59.0    140
Kansas          2280      4669   0.6        72.58     4.5   59.9    114
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Maryland        4122      5299   0.9        70.22     8.5   52.3    101
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
Minnesota       3921      4675   0.6        72.96     2.3   57.6    160
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
Montana          746      4347   0.6        70.56     5.0   59.2    155
Nebraska        1544      4508   0.6        72.60     2.9   59.3    139
Nevada           590      5149   0.5        69.03    11.5   65.2    188
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
North Dakota     637      5087   0.8        72.78     1.4   50.3    186
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
Oregon          2284      4660   0.6        72.13     4.2   60.0     44
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Rhode Island     931      4558   1.3        71.90     2.4   46.4    127
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
Virginia        4981      4701   1.4        70.08     9.5   47.8     85
Washington      3559      4864   0.6        71.72     4.3   63.5     32
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
Wisconsin       4589      4468   0.7        72.48     3.0   54.5    149
Wyoming          376      4566   0.6        70.29     6.9   62.9    173
               Area
Alabama         50708
Alaska         566432
Arizona        113417
Arkansas        51945
California     156361
Colorado       103766
Connecticut      4862
Delaware         1982
Florida         54090
Georgia         58073
Hawaii           6425
Idaho           82677
Illinois        55748
Indiana         36097
Iowa            55941
Kansas          81787
Kentucky        39650
Louisiana       44930
Maine           30920
Maryland         9891
Massachusetts    7826
Michigan        56817
Minnesota       79289
Mississippi     47296
Missouri        68995
Montana        145587
Nebraska        76483
Nevada         109889
New Hampshire    9027
New Jersey       7521
New Mexico     121412
New York        47831
North Carolina  48798
North Dakota    69273
Ohio            40975
Oklahoma        68782
Oregon          96184
Pennsylvania    44966
Rhode Island     1049
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
Virginia        39780
Washington      66570
West Virginia   24070
Wisconsin       54464
Wyoming         97203

In [2]:
# US persönlich Ausgaben
USPersonalExpenditure

                    1940   1945   1950  1955 1960
Food and Tobacco    22.200 44.500 59.60 73.2 86.80
Household Operation 10.500 15.500 29.00 36.5 46.20
Medical and Health   3.530  5.760  9.71 14.0 21.10
Personal Care        1.040  1.980  2.45  3.4  5.40
Private Education    0.341  0.974  1.80  2.6  3.64

In [3]:
# Frauen 
women

   height weight
1  58     115
2  59     117
3  60     120
4  61     123
5  62     126
6  63     129
7  64     132
8  65     135
9  66     139
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

Um eine Liste aller verfügbaren Data Frames zu erhalten können wir `data()` nutzen.

In [4]:
data() # aktuelle geladene Datensätze anzeigen

In [5]:
sleep

   extra group ID
1   0.7  1     1
2  -1.6  1     2
3  -0.2  1     3
4  -1.2  1     4
5  -0.1  1     5
6   3.4  1     6
7   3.7  1     7
8   0.8  1     8
9   0.0  1     9
10  2.0  1     10
11  1.9  2     1
12  0.8  2     2
13  1.1  2     3
14  0.1  2     4
15 -0.1  2     5
16  4.4  2     6
17  5.5  2     7
18  1.6  2     8
19  4.6  2     9
20  3.4  2     10

Wir können auch Daten aus externen Datenpaketn laden. Z.B. so kann man bio-medizinische Daten aus dem "survival"-Paket laden:

In [6]:
install.packages('survival')

package 'survival' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\dm_78\AppData\Local\Temp\Rtmp6bbZNZ\downloaded_packages

In [7]:
library(survival)
data()

In [8]:
# Daten zur Stanford Herz-Transplantation 
heart

    start stop event age          year        surgery transplant id
1    0      50 1     -17.15537303 0.1232033   0       0           1
2    0       6 1       3.83572895 0.2546201   0       0           2
3    0       1 0       6.29705681 0.2655715   0       0           3
4    1      16 1       6.29705681 0.2655715   0       1           3
5    0      36 0      -7.73716632 0.4900753   0       0           4
6   36      39 1      -7.73716632 0.4900753   0       1           4
7    0      18 1     -27.21423682 0.6078029   0       0           5
8    0       3 1       6.59548255 0.7008898   0       0           6
9    0      51 0       2.86926762 0.7802875   0       0           7
10  51     675 1       2.86926762 0.7802875   0       1           7
11   0      40 1      -2.65023956 0.8350445   0       0           8
12   0      85 1      -0.83778234 0.8569473   0       0           9
13   0      12 0      -5.49760438 0.8624230   0       0          10
14  12      58 1      -5.49760438 0.8624230   0       1          10
15   0      26 0      -0.01916496 0.8733744   0       0          11
16  26     153 1      -0.01916496 0.8733744   0       1          11
17   0       8 1       5.19370294 0.9637235   0       0          12
18   0      17 0       6.57357974 0.9691992   0       0          13
19  17      81 1       6.57357974 0.9691992   0       1          13
20   0      37 0       6.01232033 0.9719370   0       0          14
21  37    1387 1       6.01232033 0.9719370   0       1          14
22   0       1 1       5.81519507 0.9911020   1       0          15
23   0      28 0       1.44832307 1.0704997   0       0          16
24  28     308 1       1.44832307 1.0704997   0       1          16
25   0      36 1     -27.66872005 1.0759754   0       0          17
26   0      20 0       8.84873374 1.0869268   0       0          18
27  20      43 1       8.84873374 1.0869268   0       1          18
28   0      37 1      11.12388775 1.1334702   0       0          19
29   0      18 0       7.27994524 1.3305955   0       0          20
30  18      28 1       7.27994524 1.3305955   0       1          20
... ...   ...  ...   ...          ...         ...     ...        ...
143   8   397  0       0.9199179   5.41546886 0       1           86
144   0    60  0      -1.7467488   5.47022587 0       0           87
145  60   110  1      -1.7467488   5.47022587 0       1           87
146   0    31  0       6.3627652   5.48939083 0       0           88
147  31   370  0       6.3627652   5.48939083 0       1           88
148   0   139  0       3.0472279   5.51129363 0       0           89
149 139   207  1       3.0472279   5.51129363 0       1           89
150   0   160  0       4.0328542   5.51403149 1       0           90
151 160   186  1       4.0328542   5.51403149 1       1           90
152   0   340  1      -0.4052019   5.53319644 0       0           91
153   0   310  0      -3.0171116   5.57152635 0       0           92
154 310   340  0      -3.0171116   5.57152635 0       1           92
155   0    28  0      -0.2491444   5.77686516 0       0           93
156  28   265  0      -0.2491444   5.77686516 0       1           93
157   0     4  0      -4.1587953   5.95482546 1       0           94
158   4   165  1      -4.1587953   5.95482546 1       1           94
159   0     2  0      -7.7180014   5.97672827 0       0           95
160   2    16  1      -7.7180014   5.97672827 0       1           95
161   0    13  0     -21.3497604   6.00958248 0       0           96
162  13   180  0     -21.3497604   6.00958248 0       1           96
163   0    21  0     -24.3832991   6.14373717 0       0           97
164  21   131  0     -24.3832991   6.14373717 0       1           97
165   0    96  0     -19.3702943   6.20396988 0       0           98
166  96   109  0     -19.3702943   6.20396988 0       1           98
167   0    21  1       1.8343600   6.23408624 0       0           99
168   0    38  0     -12.9390828   6.39561944 1       0          100
169  38    39  0     -12.9390828   6.39561944 1       1          100
170   0    31  0       1.5167693   6.41752225 0       0          101
171   0    11  0      -7.6084873   6.47227926 0       0          102
172   0     6  1      -8.6844627  -0.04928131 0       0          103

In [9]:
ovarian

   futime fustat age     resid.ds rx ecog.ps
1    59   1      72.3315 2        1  1
2   115   1      74.4932 2        1  1
3   156   1      66.4658 2        1  2
4   421   0      53.3644 2        2  1
5   431   1      50.3397 2        1  1
6   448   0      56.4301 1        1  2
7   464   1      56.9370 2        2  2
8   475   1      59.8548 2        2  2
9   477   0      64.1753 2        1  1
10  563   1      55.1781 1        2  2
11  638   1      56.7562 1        1  2
12  744   0      50.1096 1        2  1
13  769   0      59.6301 2        2  2
14  770   0      57.0521 2        2  1
15  803   0      39.2712 1        1  1
16  855   0      43.1233 1        1  2
17 1040   0      38.8932 2        1  2
18 1106   0      44.6000 1        1  1
19 1129   0      53.9068 1        2  1
20 1206   0      44.2055 2        2  1
21 1227   0      59.5890 1        2  2
22  268   1      74.5041 2        1  2
23  329   1      43.1370 2        1  1
24  353   1      63.2192 1        2  2
25  365   1      64.4247 2        2  1
26  377   0      58.3096 1        2  1

## Mit Data Frames arbeiten

Bestimmt ist euch aufgefallen, dass manche Daten sehr umfangreich sind. Wir können die Funktionen `head()` bzw. `tail()` verwenden, um die ersten bzw. letzten 6 Zeilen anzuzeigen. Schauen wir uns das an:

In [11]:
# Kurze Variablenzuweisung, um etwas Tippen zu sparen
ht <- heart
class(ht)

[1] "data.frame"

In [12]:
head(ht)

  start stop event age        year      surgery transplant id
1  0    50   1     -17.155373 0.1232033 0       0          1
2  0     6   1       3.835729 0.2546201 0       0          2
3  0     1   0       6.297057 0.2655715 0       0          3
4  1    16   1       6.297057 0.2655715 0       1          3
5  0    36   0      -7.737166 0.4900753 0       0          4
6 36    39   1      -7.737166 0.4900753 0       1          4

In [13]:
tail(ht)

    start stop event age        year        surgery transplant id
167  0    21   1       1.834360  6.23408624 0       0           99
168  0    38   0     -12.939083  6.39561944 1       0          100
169 38    39   0     -12.939083  6.39561944 1       1          100
170  0    31   0       1.516769  6.41752225 0       0          101
171  0    11   0      -7.608487  6.47227926 0       0          102
172  0     6   1      -8.684463 -0.04928131 0       0          103

### Data Frames - Informationsübersicht

Wir können die `str()` Funktion nutzen, um mehr über die Struktur eines Data Frame zu erhalten. Wir erhalten bspw. Informationen über die Variablennamen und Datentypen, die der Data Frame beinhaltet. Zusätzlich können wir `summary()` nutzen, um eine schnelle statistische Auswertung zu erhalten. Für einen ersten Eindruck ist dies außerordentlich nützlich.

In [14]:
# Statistische Zusammenfassung
st <- state.x77
summary(st)

   Population        Income       Illiteracy       Life Exp
 Min.   :  365   Min.   :3098   Min.   :0.500   Min.   :67.96
 1st Qu.: 1080   1st Qu.:3993   1st Qu.:0.625   1st Qu.:70.12
 Median : 2838   Median :4519   Median :0.950   Median :70.67
 Mean   : 4246   Mean   :4436   Mean   :1.170   Mean   :70.88
 3rd Qu.: 4968   3rd Qu.:4814   3rd Qu.:1.575   3rd Qu.:71.89
 Max.   :21198   Max.   :6315   Max.   :2.800   Max.   :73.60
     Murder          HS Grad          Frost             Area
 Min.   : 1.400   Min.   :37.80   Min.   :  0.00   Min.   :  1049
 1st Qu.: 4.350   1st Qu.:48.05   1st Qu.: 66.25   1st Qu.: 36985
 Median : 6.850   Median :53.25   Median :114.50   Median : 54277
 Mean   : 7.378   Mean   :53.11   Mean   :104.46   Mean   : 70736
 3rd Qu.:10.675   3rd Qu.:59.15   3rd Qu.:139.75   3rd Qu.: 81163
 Max.   :15.100   Max.   :67.30   Max.   :188.00   Max.   :566432

In [19]:
summary(iris)
head(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [20]:
summary(ht)

     start             stop            event            age
 Min.   :  0.00   Min.   :   1.0   Min.   :0.000   Min.   :-39.2142
 1st Qu.:  0.00   1st Qu.:  17.0   1st Qu.:0.000   1st Qu.: -6.6468
 Median :  0.00   Median :  45.5   Median :0.000   Median : -0.1136
 Mean   : 15.51   Mean   : 201.3   Mean   :0.436   Mean   : -2.4840
 3rd Qu.: 18.25   3rd Qu.: 181.5   3rd Qu.:1.000   3rd Qu.:  4.0459
 Max.   :310.00   Max.   :1800.0   Max.   :1.000   Max.   : 16.4079
      year             surgery       transplant       id
 Min.   :-0.04928   Min.   :0.0000   0:103      Min.   :  1.00
 1st Qu.: 1.66051   1st Qu.:0.0000   1: 69      1st Qu.: 28.00
 Median : 3.75086   Median :0.0000              Median : 53.50
 Mean   : 3.45329   Mean   :0.1686              Mean   : 53.06
 3rd Qu.: 5.03491   3rd Qu.:0.0000              3rd Qu.: 78.25
 Max.   : 6.47228   Max.   :1.0000              Max.   :103.00

In [21]:
# Struktur der Daten
str(st)

 num [1:50, 1:8] 3615 365 2212 2110 21198 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:50] "Alabama" "Alaska" "Arizona" "Arkansas" ...
  ..$ : chr [1:8] "Population" "Income" "Illiteracy" "Life Exp" ...

In [22]:
str(ht)

'data.frame':	172 obs. of  8 variables:
 $ start     : num  0 0 0 1 0 36 0 0 0 51 ...
 $ stop      : num  50 6 1 16 36 39 18 3 51 675 ...
 $ event     : num  1 1 0 1 0 1 1 1 0 1 ...
 $ age       : num  -17.16 3.84 6.3 6.3 -7.74 ...
 $ year      : num  0.123 0.255 0.266 0.266 0.49 ...
 $ surgery   : num  0 0 0 0 0 0 0 0 0 0 ...
 $ transplant: Factor w/ 2 levels "0","1": 1 1 1 2 1 2 1 1 1 2 ...
 $ id        : num  1 2 3 3 4 4 5 6 7 7 ...

# Data Frames erstellen

*Hinweis: Teilweise verwenden Leute Dataframe als ein Wort. In R ist es jedoch üblich von zwei Worten "Data Frame" zu sprechen. Kein wirklich großer Unterschied, doch kann es sein, dass DataFrame sich auf Python/Pandas bezieht, wenn es jemand dementsprechend schreibt.*

Wir können Data Frames erstellen, indem wir die `data.frame()` Funktion verwenden und Vektoren als Argumente übergeben. Diese Vektoren werden dann in Spalten des Data Frame umgewandelt. Hier ist ein Beispiel:

In [29]:
# Einige erfunden Wetterdaten
tage <- c('Mo','Di','Mi','Do','Fr')
temp <- c(22.2,NA,NA,24.3,25)
regen <- c(TRUE, TRUE, FALSE, FALSE, TRUE)

In [30]:
# Die Vektoren übergeben
df <- data.frame(tage,temp,regen)

In [31]:
tage
temp
regen

df

[1] "Mo" "Di" "Mi" "Do" "Fr"

[1] 22.2   NA   NA 24.3 25.0

[1]  TRUE  TRUE FALSE FALSE  TRUE

  tage temp regen
1 Mo   22.2  TRUE
2 Di     NA  TRUE
3 Mi     NA FALSE
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

In [32]:
# Struktur überprüfen
str(df)

'data.frame':	5 obs. of  3 variables:
 $ tage : Factor w/ 5 levels "Di","Do","Fr",..: 5 1 4 2 3
 $ temp : num  22.2 NA NA 24.3 25
 $ regen: logi  TRUE TRUE FALSE FALSE TRUE

In [33]:
summary(df)

 tage        temp         regen
 Di:1   Min.   :22.20   Mode :logical
 Do:1   1st Qu.:23.25   FALSE:2
 Fr:1   Median :24.30   TRUE :3
 Mi:1   Mean   :23.83
 Mo:1   3rd Qu.:24.65
        Max.   :25.00
        NA's   :2

Herzlichen Glückwunsch! Sie sind mit Lektion 18. fertig!