# Tag 1. Kapitel 5. Data IO 

## Lektionen 23. - 24. Ein- und Ausgabe von Daten 

### Import/Export von Daten aus/in verschiedenen Quellen.

*Bemerkung: diese Lektion ist eine Wiederholung der Lektion 13.20.2 und darf ggf. übersprungen werden, wenn das Thema bereits bekannt ist*

Data Frames sind die Arbeitstiere von R, deshalb erstellen wir uns in dieser Lektion eine Art "Cheatsheet" der üblichsten Ein- und Ausgabe-Operationen. Dadurch wird diese Lektion extrem nützlich sein und uns im weiteren Verlauf des Kurses extrem viel Zeit sparen, da wir Data Frames bereits kennen und auf unser Cheatsheet zurückgreifen können. 

Wir werden uns eine Übersicht der folgenden typischen Operationen verschaffen:

* Daten in/von Zwischenablage (Clipboard) schreiben/lesen
* Daten in/von CSV-Datei schreiben/lesen
* Daten in/von Excel-Datei schreiben/lesen
* Daten in/von eine(r) Datenbank schreiben/lesen

**Tipp: Informationen Anbindung von R an verschiedene Datenbanken kann man auf der Webseite [Databases using R](https://db.rstudio.com/databases/) erfahren**

## Manuelle Datenkorrektur in R Studio

In [4]:
leer <- data.frame() # Leerer Data Frame
c1 <- 1:15 # Vektor von Zahlen
c2 <- letters[1:15] # Verktor von Zeichen
df <- data.frame(spalte.name.1=c1,spalte.name.2=c2)

# Erstellte Datensätze anpassen und ausgeben 
df <- edit(df) # läuft nur in R Studio (in R Studio ausprobieren)
df

ERROR: Error in edit(df): 'edit()' not yet supported in the Jupyter R kernel

## Lektion 23.1. Daten aus der Zwischenablage (Clipboard) lesen

In [2]:
# Achtung! Im Voraus die Daten aus einer Excel-Datei (z.B. GOOG.xls) in der Zwischenablage (Clipboard) speichern (Ctrl+C)

# Daten aus der Zwischenablage (Clipboard) lesen
df <- read.table(file="clipboard",sep="\t", header=TRUE) # Tabulator (\t) als Trenner nutzen
head(df)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-12-12 1068.00 1081.65 1062.79 1063.68 1063.68   1523800
2 2018-12-13 1068.07 1079.76 1053.93 1061.90 1061.90   1329800
3 2018-12-14 1049.98 1062.60 1040.79 1042.10 1042.10   1686600
4 2018-12-17 1037.51 1053.15 1007.90 1016.53 1016.53   2385400
5 2018-12-18 1026.09 1049.48 1021.44 1028.71 1028.71   2192500
6 2018-12-19 1033.99 1062.00 1008.05 1023.01 1023.01   2479300

## Lektion 23.1. Daten in Zwischenablage (Clipboard) speichern

In [5]:
cars <- mtcars # eingabauter Datensatz mit Fahrzeugdaten
# Data Frame in Clipboard speichern 
write.table(x=cars,file = "clipboard",sep = "\t")

In [6]:
# Prüfen, ob die Speicherung funktioniert hat
read.table(file="clipboard",sep="\t", header=TRUE)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

## Lektion 24.1.1 Daten von CSV-Datei lesen

In [7]:
# Aus CSV-Datei lesen (aktuelles Verzeichnis)
goog <- read.csv('GOOG_EN.csv')
head(goog) # erste Datensätze zeigen

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-12-12 1068.00 1081.65 1062.79 1063.68 1063.68   1523800
2 2018-12-13 1068.07 1079.76 1053.93 1061.90 1061.90   1329800
3 2018-12-14 1049.98 1062.60 1040.79 1042.10 1042.10   1686600
4 2018-12-17 1037.51 1053.15 1007.90 1016.53 1016.53   2385400
5 2018-12-18 1026.09 1049.48 1021.44 1028.71 1028.71   2192500
6 2018-12-19 1033.99 1062.00 1008.05 1023.01 1023.01   2479300

## Lektion 24.1.2 Daten in CSV-Datei schreiben

In [8]:
# Ausgabe zu CSV
write.csv(df, file='demo.csv', row.names = FALSE) 

# Aus "frischgechriebener" CSV-Datei lesen und Daten anzeigen
rd <- read.csv('demo.csv')
head(rd)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-12-12 1068.00 1081.65 1062.79 1063.68 1063.68   1523800
2 2018-12-13 1068.07 1079.76 1053.93 1061.90 1061.90   1329800
3 2018-12-14 1049.98 1062.60 1040.79 1042.10 1042.10   1686600
4 2018-12-17 1037.51 1053.15 1007.90 1016.53 1016.53   2385400
5 2018-12-18 1026.09 1049.48 1021.44 1028.71 1028.71   2192500
6 2018-12-19 1033.99 1062.00 1008.05 1023.01 1023.01   2479300

## Lektion 24.2.1 Daten von Excel-Datei lesen

In [10]:
# Ggf. Excel-Pakete laden (wenn nichts bereits passiert)
install.packages("readxl")
library(readxl)

In [11]:
# Rufe Info der Arbeitsblätter durch read.excel auf
tsla <- read_excel('TSLA.xlsx',sheet='TSLA_EN')

# geladene Datensätze zeigen (erste 6) 
head(tsla)
summary(tsla)

  Date       Open       High       Low        Close      Adj Close  Volume
1 2018-12-12 369.420013 371.910004 365.160004 366.600006 366.600006 5027000
2 2018-12-13 370.149994 377.440002 366.750000 376.790009 376.790009 7365900
3 2018-12-14 375.000000 377.869995 364.329987 365.709991 365.709991 6337600
4 2018-12-17 362.000000 365.700012 343.880005 348.420013 348.420013 7674000
5 2018-12-18 350.540009 351.549988 333.690002 337.029999 337.029999 7100000
6 2018-12-19 337.600006 347.010010 329.739990 332.970001 332.970001 8274200

     Date               Open               High               Low
 Length:252         Length:252         Length:252         Length:252
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
    Close            Adj Close            Volume
 Length:252         Length:252         Length:252
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character

## Lektion 24.2.2 Daten in Excel-Datei schreiben

In [13]:
# Ggf. Excel-Pakete laden (wenn nichts bereits passiert)
install.packages("xlsx")
library(xlsx)

In [14]:
# Daten in eine Excell-Datei speichern
f <- "demo_1.xlsx"
s <- "Data_1" 
# Standard-Methode 
write.xlsx(df, f, sheetName = s, col.names = TRUE, row.names = FALSE, append = FALSE)

In [15]:
# Aus "frischgechriebener" Excel-Datei lesen und Daten anzeigen
d <- read_excel(f, s)
head(d)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-12-12 1068.00 1081.65 1062.79 1063.68 1063.68   1523800
2 2018-12-13 1068.07 1079.76 1053.93 1061.90 1061.90   1329800
3 2018-12-14 1049.98 1062.60 1040.79 1042.10 1042.10   1686600
4 2018-12-17 1037.51 1053.15 1007.90 1016.53 1016.53   2385400
5 2018-12-18 1026.09 1049.48 1021.44 1028.71 1028.71   2192500
6 2018-12-19 1033.99 1062.00 1008.05 1023.01 1023.01   2479300

In [16]:
f2 <- "demo_2.xlsx"
s2 <- "Data_2" 
# Optimierte Methode(schneller bei großen Dateien)
write.xlsx2(goog, f2, sheetName = s2, col.names = TRUE, row.names = FALSE, append = FALSE)

In [17]:
# Aus "frischgechriebener" Excel-Datei lesen und Daten anzeigen
g <- read_excel(f2, s2)
head(g)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-12-12 1068.00 1081.65 1062.79 1063.68 1063.68   1523800
2 2018-12-13 1068.07 1079.76 1053.93 1061.90 1061.90   1329800
3 2018-12-14 1049.98 1062.60 1040.79 1042.10 1042.10   1686600
4 2018-12-17 1037.51 1053.15 1007.90 1016.53 1016.53   2385400
5 2018-12-18 1026.09 1049.48 1021.44 1028.71 1028.71   2192500
6 2018-12-19 1033.99 1062.00 1008.05 1023.01 1023.01   2479300

## Lektion 24.3. Daten aus/in Datenbank lesen/schreiben

### Lektion 24.3.1 Daten aus/in SQL Server Datenbank lesen/schreiben

In [21]:
# Ggf ODBC-Pakete installieren (wenn nicht vorhanden)
install.packages("DBI")
install.packages("odbc")

In [22]:
# Datenbank Bibliotheken laden
library(DBI)
library(odbc)

In [23]:
# Verbindung öffnen (Microsoft SQL Server)
# Achtung! Ggf. Verbindungsparameter anpassen.
con <- dbConnect(odbc::odbc(), 
                 Driver = "SQL Server", 
                 Server = "localhost\\SQLEXPRESS", 
                 Database = "R_STAT", 
                 Trusted_Connection = "True")

In [24]:
# init
cars.table <- "cars"

In [25]:
# cars-Tabelle anlegen bzw. überschreiben (mtcars ist ein in R eingebauter Data Frame)
dbWriteTable(con, cars.table, mtcars, overwrite=TRUE)

In [26]:
#prüfen, ob tabelle existiert
dbExistsTable(con, cars.table)

[1] TRUE

In [27]:
# in Schema vorhandene Tabellen auflisten
head(dbListTables(con))

[1] "cars"                "trace_xe_action_map" "trace_xe_event_map"
[4] "CHECK_CONSTRAINTS"   "COLUMN_DOMAIN_USAGE" "COLUMN_PRIVILEGES"

In [28]:
# cars-Tabelle auslesen
cars <- dbReadTable(con, cars.table)
# cars Data Frame ausgeben
head(cars)

  row_names         mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [29]:
# Neue Sätze anhängen
dbWriteTable(con, cars.table, cars, append=TRUE)

In [30]:
# Prüfen, ob neue Daten angekommen sind
cars2 <- dbReadTable(con, cars.table)
cars2

    row_names           mpg  cyl disp  hp  drat wt    qsec  vs  am  gear carb
1   Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0   1   4    4
2   Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0   1   4    4
3   Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1   1   4    1
4   Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1   0   3    1
5   Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0   0   3    2
6   Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1   0   3    1
7   Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0   0   3    4
8   Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1   0   4    2
9   Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1   0   4    2
10  Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1   0   4    4
11  Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1   0   4    4
12  Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0   0   3    3
13  Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0   0   3    3
14  Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0   0   3    3
15  Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0   0   3    4
16  Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0   0   3    4
17  Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0   0   3    4
18  Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1   1   4    1
19  Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1   1   4    2
20  Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1   1   4    1
21  Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1   0   3    1
22  Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0   0   3    2
23  AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0   0   3    2
24  Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0   0   3    4
25  Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0   0   3    2
26  Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1   1   4    1
27  Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0   1   5    2
28  Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1   1   5    2
29  Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0   1   5    4
30  Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0   1   5    6
... ...                 ...  ... ...   ... ...  ...   ...   ... ... ...  ...
35  Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1   1   4    1
36  Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1   0   3    1
37  Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0   0   3    2
38  Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1   0   3    1
39  Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0   0   3    4
40  Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1   0   4    2
41  Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1   0   4    2
42  Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1   0   4    4
43  Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1   0   4    4
44  Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0   0   3    3
45  Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0   0   3    3
46  Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0   0   3    3
47  Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0   0   3    4
48  Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0   0   3    4
49  Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0   0   3    4
50  Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1   1   4    1
51  Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1   1   4    2
52  Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1   1   4    1
53  Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1   0   3    1
54  Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0   0   3    2
55  AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0   0   3    2
56  Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0   0   3    4
57  Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0   0   3    2
58  Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1   1   4    1
59  Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0   1   5    2
60  Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1   1   5    2
61  Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0   1   5    4
62  Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0   1   5    6
63  Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0   1   5    8
64  Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1   1   4    2

In [31]:
# cars-Tabelle löschen
dbRemoveTable(con, name = cars.table)

In [32]:
#prüfen, ob cars-Tabelle gelöscht worden ist
dbExistsTable(con, cars.table)

[1] FALSE

In [33]:
# Datenbank-Verbindung schliessen (immer ausführen um Datenbank-Verbindungsressourcen freizugeben)
dbDisconnect(con)

### Lektion 24.3.2 Daten aus/in Firebase Datenbank lesen/schreiben

Eine Verbindung von R zu Firebase Datenbank aus zeitlichen Gründen wird in dieser Lektion nicht dargelegt. Die ist aber recht gut in README-Datei von [fireData R-Paket](https://github.com/Kohze/fireData) und in diesem [Stackoverflow-Artikel](https://stackoverflow.com/questions/45228338/firebase-database-data-to-r) dokumentiert.

**Tipp: Informationen zu den anderen Datenbanken kann man auf der Webseite [Databases using R](https://db.rstudio.com/databases/) erfahren**

Herzlichen Glückwunsch! Sie sind mit dem 2. Teil der Lektion N° 20 fertig!

#### Bitte denkt daran, dieses Notebook als Referenz für spätere Lektionen und Aufgaben zu verwenden.