# Tag 2. Kapitel 3. Fortgeschrittene Programmierung

## Lektion 37. Eingebaute R Features - Mathematik

Es wurden bereits einige eingebaute mathematische Funktionen und Features in R präsentiert. Schauen wir dennoch uns noch einige davon an:

* abs(): Berechnet den Betrag (absoluten Wert)
* sum(): Summiert alle eingegbene Werte 
* mean(): Berechnet das arithmetische Mittel 
* round(): Rundet eingegbene Werte

Hier ein paar kurze Beispiele zu allen davon:

In [1]:
abs(-2)
abs(2)
abs(-100)
abs(100)
# usw.

[1] 2

[1] 2

[1] 100

[1] 100

In [9]:
v <- c(-100.2, 100.2, 0, -2.7, 2.7, 10,-1.5)

In [10]:
v
abs(v)

[1] -100.2  100.2    0.0   -2.7    2.7   10.0   -1.5

[1] 100.2 100.2   0.0   2.7   2.7  10.0   1.5

In [11]:
sum(v)

[1] 8.5

In [12]:
mean(v)

[1] 1.214286

In [16]:
round(1.3)
round(1.5)
round(1.9)

[1] 1

[1] 2

[1] 2

In [17]:
v
round(v)

[1] -100.2  100.2    0.0   -2.7    2.7   10.0   -1.5

[1] -100  100    0   -3    3   10   -2

Übersicht weiterer mathematischer Funktionen seht ihr hier:

<h2>Numerische Funktionen  </h2>
				<p>
				<table border="0">
                  <tr>
                    <td valign="top"><strong>Funktion</strong></td>
                    <td valign="top"><strong>Beschreibung</strong></td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>abs(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">absoluter Wert</td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>sqrt(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">Quadratwurzel</td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>ceiling(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">ceiling(3.475) ist 4 </td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>floor(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">floor(3.475) ist 3 </td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>trunc(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">trunc(5.99) ist 5 </td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>round(</strong><em>x</em><strong>, digits=</strong><em>n</em><strong>) </strong></td>
                    <td valign="top">round(3.475, digits=2) ist 3.48 </td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>signif(</strong><em>x</em><strong>, digits=</strong><em>n</em><strong>) </strong></td>
                    <td valign="top">signif(3.475, digits=2) ist 3.5 </td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>cos(</strong><em>x</em><strong>), sin(</strong><em>x</em><strong>), tan(</strong><em>x</em><strong>) </strong></td>
                    <td valign="top">also acos(<em>x</em>), cosh(<em>x</em>), acosh(<em>x</em>), etc. </td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>log(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">natürlicher Logarithmus</td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>log10(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">Logarithmus </td>
                  </tr>
                  <tr>
                    <td valign="top"><strong>exp(</strong><em>x</em><strong>)</strong></td>
                    <td valign="top">e^<em>x</em></td>
                  </tr>
          </table>

Außerdem könnt ihr in die Dokumentation von R schauen, um einen detaillierteren Überblick zu gewinnen, z.B.:

In [20]:
help(ceiling)

Herzlichen Glückwunsch! Sie sind mit Lektion 37. fertig!