# Tag 1. Kapitel 2. Matrix

## Lektion 13. Matrix Operationen

Nachdem wir jetzt gelernt haben, wie wir Matrizen erstellen können, können wir uns anschauen, wie wir Operationen mit ihnen durchführen.

**Führe den folgenden Code aus, um die Aktien-Matrix aus der vorherigen Lektion zu erstellen.**

In [4]:
# Historische Aktien Schluss-Preise KW 49 / 2019 
# Google
GOOG <- c(1289.92,1295.28,1320.54,1328.13,1340.61) 
# Tesla
TSLA <- c(334.86,336.20,33.02,330.36,335.89) 

# Vektoren in eine Matrix fassen
aktien <- c(GOOG,TSLA)
aktien.matrix <- matrix(aktien,byrow=TRUE,nrow=2)

# Namen vergeben
tage <- c('Mo','Di','Mi','Do','Fr')
aktien.namen <- c('GOOG','TSLA')
colnames(aktien.matrix) <- tage
rownames(aktien.matrix) <- aktien.namen

# Anzeigen
aktien.matrix

     Mo      Di      Mi      Do      Fr
GOOG 1289.92 1295.28 1320.54 1328.13 1340.61
TSLA  334.86  336.20   33.02  330.36  335.89

Wir können verschiedene Funktionen entlang den Spalten und Zeilen durchführen. Ein Beispiel ist die `colSum`.

In [5]:
colSums(aktien.matrix)

     Mo      Di      Mi      Do      Fr
1624.78 1631.48 1353.56 1658.49 1676.50

In [6]:
# Ergibt für Aktien nicht viel Sinn, wir möchten uns aber zumindest die Funktionalität anschauen
rowSums(aktien.matrix)

   GOOG    TSLA
6574.48 1370.33

Es stehen uns viele weitere mathematische Operationen zur Verfügungn: Dieser [Verweis](https://cran.r-project.org/doc/contrib/Short-refcard.pdf) listet alle verfügbaren Funktionen auf.

In [7]:
rowMeans(aktien.matrix)

    GOOG     TSLA
1314.896  274.066

# Zeilen und Spalten hinzufügen

Lasst uns jetzt anschauen, wie wir Zeilen und Spalten zu einer Matrix hinzufügen können. Dazu nutzen wir `cbind()` (für Spalten) und `rbind()` für die Zeilen. Wir können beispielhaft Informationen der Facebook Aktie hinzufügen:

In [8]:
FB <- c(111,112,113,120,145)

In [9]:
tech.aktien <- rbind(aktien.matrix,FB)

In [10]:
tech.aktien

     Mo      Di      Mi      Do      Fr
GOOG 1289.92 1295.28 1320.54 1328.13 1340.61
TSLA  334.86  336.20   33.02  330.36  335.89
FB    111.00  112.00  113.00  120.00  145.00

Lasst uns als nächstes eine Spalte für den Durchschnitt (en. average) hinzufügen.

In [11]:
avg <- rowMeans(tech.aktien)

In [12]:
avg

    GOOG     TSLA       FB
1314.896  274.066  120.200

In [13]:
tech.aktien <- cbind(tech.aktien,avg)

In [14]:
tech.aktien

     Mo      Di      Mi      Do      Fr      avg
GOOG 1289.92 1295.28 1320.54 1328.13 1340.61 1314.896
TSLA  334.86  336.20   33.02  330.36  335.89  274.066
FB    111.00  112.00  113.00  120.00  145.00  120.200

Das waren die Grundlagen der Matrix Operationen. 

Herzlichen Glückwunsch! Sie sind mit Lektion 11 fertig!