# Tag 1. Kapitel 2. Matrix

## Lektion 14. Matrix Auswahl und Indexierung

Genau wie mit Vektoren werden wir die eckigen Klammern nutzen, um Elemente aus einer Matrix auszuw채hlen. Da wir zwei Dimensionen haben werden wir ein Komma nutzen, um unsere Indexierung f체r jede Dimension anzugeben.

Die Syntax lautet also

    beispiel.matrix[zeilen,spalten]
    
wobei die Index Notation (z.B. 1:5) als `zeilen` oder `spalten` eingesetzt wird. Sofern eines der beiden (also `zeilen` oder `spalten` leer gelassen wird, werden alle Zeilen bzw. Spalten ausgew채hlt.

Schauen wir uns einige Beispiele an:

In [1]:
mat <- matrix(1:50,byrow=TRUE,nrow=5)

In [2]:
mat

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  1    2    3    4    5    6    7    8    9   10
[2,] 11   12   13   14   15   16   17   18   19   20
[3,] 21   22   23   24   25   26   27   28   29   30
[4,] 31   32   33   34   35   36   37   38   39   40
[5,] 41   42   43   44   45   46   47   48   49   50

In [4]:
# Erste Zeile
mat[1,]
# 3. Zeile
mat[3,]

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 21 22 23 24 25 26 27 28 29 30

In [12]:
# Erste Spalte
mat[,1]

[1]  1 11 21 31 41

In [13]:
# Erste drei Zeilen
mat[1:3,]

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  1    2    3    4    5    6    7    8    9   10
[2,] 11   12   13   14   15   16   17   18   19   20
[3,] 21   22   23   24   25   26   27   28   29   30

In [14]:
# Das Rechteck oben rechts ausw채hlen:
# 1,2,3
# 11,12,13

mat[1:2,1:3]

     [,1] [,2] [,3]
[1,]  1    2    3
[2,] 11   12   13

In [15]:
# Die letzten beiden Spalten
mat[,9:10]

     [,1] [,2]
[1,]  9   10
[2,] 19   20
[3,] 29   30
[4,] 39   40
[5,] 49   50

In [16]:
# Das Quadrat in der Mitte ausw채hlen
# 15,16
# 25,26

mat[2:3,5:6]

     [,1] [,2]
[1,] 15   16
[2,] 25   26

#### Die Auswahl und Indexierung ist etwas, dass man wirklich 체ben und verinnerlichen soll. 

Versucht einfach ganz bestimmte Teile der Matrix auszuw채hlen und indexiert sie. 

Herzlichen Gl체ckwunsch! Sie sind mit Lektion 14 fertig!