# Tag 2. Kapitel 8. Daten-Manipulationen

## Lab 6. - Dplyr - Lösung

**Löse die folgenden Aufgaben einzig mit der *dplyr* Library. Folgende Funktionen werden wir wiederholen:**

* filter() (und slice())
* arrange()
* select() (und rename())
* distinct()
* mutate() (und transmute())
* summarise()
* sample_n() und sample_frac()

**Installiere ggf. `dplyr`-Paket und lade dplyr-Library**

In [1]:
install.packages('dplyr')

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"Problem C:\Users\dm_78\.conda\envs\R Universe\Lib\R\library\00LOCK\dplyr\libs\x64\dplyr.dll nach C:\Users\dm_78\.conda\envs\R Universe\Lib\R\library\dplyr\libs\x64\dplyr.dll zu kopieren: Permission denied"Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\dm_78\AppData\Local\Temp\RtmpeuUvrH\downloaded_packages

In [2]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

**Gebe erste Datensätze von mtcars-Daten aus**

In [3]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

**Gebe die Zeilen der Autos mit einem mpg-Wert über 20 und genau 6 Zylindern aus.**

In [3]:
filter(mtcars,mpg>20,cyl==6)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

**Ordne den Data Frame neu. Dabei soll zuerst nach cyl sortiert werden und dann absteigend nach wt.**

In [4]:
head(arrange(mtcars,cyl,desc(wt)))

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
2 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
3 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
4 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
5 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
6 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1

**Wähle die Spalten mpg und hp.**

In [5]:
head(select(mtcars,mpg,hp))

                  mpg  hp
Mazda RX4         21.0 110
Mazda RX4 Wag     21.0 110
Datsun 710        22.8  93
Hornet 4 Drive    21.4 110
Hornet Sportabout 18.7 175
Valiant           18.1 105

**Wähle die einzigartigen Werte der gear Spalte.**

In [6]:
distinct(select(mtcars,gear))

  gear
1 4
2 3
3 5

**Erstelle eine neue Spalte "Performance", welche mit "hp geteilt durch wt" berechnet wird.**

In [7]:
head(mutate(mtcars,Performance=hp/wt))

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb Performance
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    41.98473
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    38.26087
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    40.08621
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    34.21462
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    50.87209
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    30.34682

**Finde den durchschnittlichen mpg Wert durch Verwendung von dplyr.**

In [8]:
summarise(mtcars,avg_mpg=mean(mpg))

  avg_mpg
1 20.09062

**Nutze den Pipe Operator, um den durchschnittlichen hp Wert für Autos mit 6 Zylindern zu erhalten.**

In [9]:
mtcars %>% filter(cyl==6) %>% summarise(avg_hp = mean(hp))

  avg_hp
1 122.2857

**Gebe 5 zufällige ausgewählte mtcars-Datensätze einmal im Data Frame *d1* und dann noch mal in *d2* und gebe beide Data Frames aus. Sind Sie gleich? Warum?**

In [19]:
d1 <- sample_n(mtcars, 5)
d2 <- sample_n(mtcars, 5)

d1
d2

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
2 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
3 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
4 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
5 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
2 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
3 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
4 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
5 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

**Gebe 15% der Datensätze von mtcars aus**

In [26]:
sample_frac(mtcars, 15/100)

  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3
2 24.4 4   146.7  62 3.69 3.19 20.00 1  0  4    2
3 22.8 4   140.8  95 3.92 3.15 22.90 1  0  4    2
4 15.2 8   275.8 180 3.07 3.78 18.00 0  0  3    3
5 15.5 8   318.0 150 2.76 3.52 16.87 0  0  3    2

Herzlichen Glückwunsch! Sie sind mit Lab 6. fertig!