# Tag 1. Kapitel 3. Data Frame

## Lab3. R Data Frames Übung

In dieser Übnung überprüfen wir dein Wissen zu den Data Frames! Folge den Anweisungen und löse die Aufgaben.

**Erstelle den folgenden Data Frame durch die Nutzung von Vektoren und der data.frame Funktion:**

**Überprüfe ob mtcars ein Data Frame ist, indem du is.data.frame() nutzt**

**Verwende as.data.frame(), um eine Matrix in einen Data Frame umzuwandeln: **

** Setze eine Variable df gleich dem eingebauten Data Frame mtcars. Für den Rest der Übung werden wir diese Variable verwenden.**

**Zeige die ersten 6 Zeilen von df an**

**Was ist der durchschnittliche mpg Wert (Verbrauch) aller Autos?**

**Wähle die Zeilen, in denen die Autos 6 Zylinder (Spalte: cyl) haben**

**Wähle die Spalten am, gear, und carb**

**Erstelle eine neue Spalte "performance", die durch hp/wt berechnet wird**

**Die neue Performance Spalte wird Werte mit mehreren Dezimalstellen beinhalten. Finde heraus, wie du diese mit `round()` auf 2 Nachkommastellen reduzieren kannst**

** Was ist der durchschnittliche mpg Wert für Autos mit mehr als 100 PS (en. hp) und einem wt-Wert über 2.5?**

**Wie ist der mpg (Verbrauch) des Hornet Sportabout? **

### In/aus Zwischenablage (Clipboard) schreiben/lesen

TODO-Liste:

* Gebe den aktuellen df Data Frame aus
* Speichere df Data Frame in der Zwischenablage (Clipboard) ab
* In einer leeren Excel-Arbeitsmappe (Sheet) die Daten aus der Zwischenablage holen (Ctrl+V)
* Passe einige Werte an und/oder füge neue Datensätze in Excel hinzu 
* Wähle neuen Datensatz in Excel aus und speichere es in der Zwischenablage (Ctrl+C)
* Lese angepasste Daten aus der Zwischenablage in einen neuen Data Frame aus
* Gebe neu geladene angepasste Daten aus

*Tipp: du kannst Lektion 1.3.20.2 als Referenz benutzen*

**Fazit: mit schreiben/lesen in/aus Zwischenablage lässt sich Excel als bequemer Tool mit R-Umgebung kombinieren**

## In/aus CSV-Datei schreiben/lesen

TODO-Liste:

* Speichere df Data Frame in einer CSV-Datei ab
* Lese gespeicherte CSV-Datei in einen neuen Data Frame zurück und gebe die erste geladene Datensätze aus

## In/aus Excel-Datei schreiben/lesen

TODO-Liste:

* Lade ggf. Excel-Paket und Bibliothek (library) 
* Speichere df Data Frame in einer Excel-Datei ab
* Lese gespeicherte Excel-Datei in einen neuen Data Frame zurück und gebe die erste geladene Datensätze aus

Herzlichen Glückwunsch! Sie sind mit Lab 3. fertig.