# Tag 1. Kapitel 3. Data Frames

## Lektion 19. Data Frame Auswahl und Indexierung

Wir haben bereits gesehen, wie wir die eingebauten Data Frames aufrufen und unsere eigenen durch `data.frame()` erstellen. Schauen wir uns noch einmal unsere Wetterdaten an. Anschließend können wir lernen, wie wir die Klammern-Notation zur Auswahl und Indexierung verwenden:

In [1]:
# Einige erfunden Wetterdaten
tage <- c('Mo','Di','Mi','Do','Fr')
temp <- c(22.2,21,23,24.3,25)
regen <- c(TRUE, TRUE, FALSE, FALSE, TRUE)

# Die Vektoren übergeben
df <- data.frame(tage,temp,regen)

In [2]:
df

  tage temp regen
1 Mo   22.2  TRUE
2 Di   21.0  TRUE
3 Mi   23.0 FALSE
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

Wir können die Klammern-Notation verwenden, die wir von den Matrizen kennen:

    df[zeilen,spalten]

In [3]:
# Alles aus der ersten Zeile
df[1,]

  tage temp regen
1 Mo   22.2 TRUE

In [4]:
# Alles aus der ersten Spalte
df[,1]

[1] Mo Di Mi Do Fr
Levels: Di Do Fr Mi Mo

In [9]:
# Daten von Freitag
df[5,]

  tage temp regen
5 Fr   25   TRUE

## Auswahl durch Spaltennamen

Jetzt werden wir sehen, was so mächtig an den Data Frames ist. Wir können die Spaltennamen nutzen (anstatt uns Zahlen zu merken), um auf Daten zuzugreifen:

In [6]:
# Alle Regen-Werte
df[,'regen']

[1]  TRUE  TRUE FALSE FALSE  TRUE

In [7]:
# Erste 5 Zeilen für tage und temp
df[1:5,c('tage','temp')]

  tage temp
1 Mo   22.2
2 Di   21.0
3 Mi   23.0
4 Do   24.3
5 Fr   25.0

Wenn wir alle Werte einer bestimmten Spalte erhalten wollen, können wir ein Dollarzeichen nach dem Namen des Data Frames nutzen:

    df.name$column.name

In [10]:
df$regen

[1]  TRUE  TRUE FALSE FALSE  TRUE

In [11]:
df$tage

[1] Mo Di Mi Do Fr
Levels: Di Do Fr Mi Mo

In [16]:
df$temp
class(df$temp)

[1] 22.2 21.0 23.0 24.3 25.0

[1] "numeric"

Wir können außerdem die Klammern-Notation nutzen, um ein Data Frame Format der selben Informationen zu erhalten:

In [15]:
df['regen']
class(df['regen'])

  regen
1  TRUE
2  TRUE
3 FALSE
4 FALSE
5  TRUE

[1] "data.frame"

In [13]:
df['tage']

  tage
1 Mo
2 Di
3 Mi
4 Do
5 Fr

In [21]:
df
df[c('regen', 'tage', 'temp')]
df[c('regen', 'tage')]

  tage temp regen
1 Mo   22.2  TRUE
2 Di   21.0  TRUE
3 Mi   23.0 FALSE
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

  regen tage temp
1  TRUE Mo   22.2
2  TRUE Di   21.0
3 FALSE Mi   23.0
4 FALSE Do   24.3
5  TRUE Fr   25.0

  regen tage
1  TRUE Mo
2  TRUE Di
3 FALSE Mi
4 FALSE Do
5  TRUE Fr

## Filtern mit einer Subset-Bedingung

Wir können die `subset()` Funktion verwenden, um ein Subset der Werte aus unserem Data Frame zu erhalten. Außerdem können wir eine Bedingung für dieses Subset definieren. Also zum Beispiel alle Daten für Tage an denen es geregnet hat. Schaut her:

In [22]:
subset(df,subset=regen==TRUE)

  tage temp regen
1 Mo   22.2 TRUE
2 Di   21.0 TRUE
5 Fr   25.0 TRUE

Beachtet wie die Bedingung einen Vergleichsoperator genutzt hat. Im vorherigen Fall "==". Schnappen wir uns nun die Tage an denen die Temperatür über 23 lag:'

In [23]:
subset(df,subset= temp>23)

  tage temp regen
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

Zu beachten gilt hier, dass wir den Spaltennamen nicht als Zeichen-String übergeben hab. *Subset* weiß, dass es sich dabei um einen Spaltennamen handelt.

In [27]:
# regen und wärmer als 23°
subset(df,subset=regen==TRUE & temp>23)

# regen oder wärmer als 23°
subset(df,subset=regen==TRUE | temp>23)

  tage temp regen
5 Fr   25   TRUE

  tage temp regen
1 Mo   22.2  TRUE
2 Di   21.0  TRUE
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

## Einen Data Frame sortieren

Wir können die Reihenfolge innerhalb unseres Data Frame sortieren indem wir `order()` verwenden. Wir übergeben dazu die Spalte nach der wir die Sortierung vornehmen möchten an die Funktion. Schauen wir uns dazu ein Beispiel an:

In [32]:
sortierte.temp <- order(df['temp'])
sortierte.temp 

sortierte.regen_tage <- order(df[c('regen', 'tage')])
sortierte.regen_tage

[1] 2 1 3 4 5

 [1]  7  9  3  4 10  8  6  1  2  5

In [34]:
df[sortierte.temp,]
df[order(df['temp']),]
df[sortierte.regen_tage,]

  tage temp regen
2 Di   21.0  TRUE
1 Mo   22.2  TRUE
3 Mi   23.0 FALSE
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

  tage temp regen
2 Di   21.0  TRUE
1 Mo   22.2  TRUE
3 Mi   23.0 FALSE
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

     tage temp regen
NA   NA     NA    NA
NA.1 NA     NA    NA
3    Mi   23.0 FALSE
4    Do   24.3 FALSE
NA.2 NA     NA    NA
NA.3 NA     NA    NA
NA.4 NA     NA    NA
1    Mo   22.2  TRUE
2    Di   21.0  TRUE
5    Fr   25.0  TRUE

Schauen wir uns genauer an, was `sortierte.temp` ist.

In [35]:
sortierte.temp

[1] 2 1 3 4 5

Wir sehen: Es wir der Index der Elemente in bestimmter Reihenfolge abgefragt und gespeichert. Mit einem negativen Vorzeichen (-) können wir eine absteigende Reihenfolge aufrufen:

In [36]:
abst.temp <- order(-df['temp'])

In [37]:
df[abst.temp,]

  tage temp regen
5 Fr   25.0  TRUE
4 Do   24.3 FALSE
3 Mi   23.0 FALSE
1 Mo   22.2  TRUE
2 Di   21.0  TRUE

Wir könnten auch die anderen bereits bekannten Notationen verwenden, die wir in dieser Lektion gelernt haben:

In [38]:
sort.temp <- order(df$temp)
df[sort.temp,]

  tage temp regen
2 Di   21.0  TRUE
1 Mo   22.2  TRUE
3 Mi   23.0 FALSE
4 Do   24.3 FALSE
5 Fr   25.0  TRUE

Herzlichen Glückwunsch! Sie sind mit Lektion 19 fertig!